#main-header img {
  width: 86%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  background-color: #000;
  color: #fff;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3.3em !important;
  }
}
